.welcome{
  align-items: center ;
}
.audio-container {
    display: flex;
    
    
    height: 100px;

  }
.avatar-pic {
  height: 40vh;
  width: 80vh;
  justify-content: center;
    align-items: center;
}
html, body {
  max-height: 400px;
  margin: 0;
}
